<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcp.serverc.mapper.OrgMapper">
  <resultMap id="BaseResultMap" type="com.bcp.serverc.model.Org">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="service_address" jdbcType="VARCHAR" property="serviceAddress" />
    <result column="front_address" jdbcType="VARCHAR" property="frontAddress" />
  </resultMap>

  <select id="selectByConditions" parameterType="com.bcp.serverc.model.Org" resultMap="BaseResultMap">
    SELECT ID, ORG_NAME, SERVER_ADDRESS, FRONT_ADDRESS
    FROM org
    <where>
      <if test="id != null and id != ''">AND ID = #{id}</if>
      <if test="orgName != null and orgName != ''">AND ORG_NAME LIKE "%"#{orgName}"%"</if>
      <if test="serverAddress != null and serverAddress != ''">AND SERVER_ADDRESS = #{serverAddress}</if>
      <if test="frontAddress != null and frontAddress != ''">AND FRONT_ADDRESS = #{frontAddress}</if>
    </where>
  </select>

  <select id="queryAddressesByTaskId" parameterType="java.lang.Long" resultType="net.sf.json.JSONObject">
    SELECT btu.task_user_id AS userId, btu.task_user_name AS userName, o.id AS orgId, o.org_name AS orgName, o.server_address AS serverAddress
    FROM bcp_task_user AS btu LEFT JOIN `user` AS u ON btu.task_user_id = u.user_id
                              LEFT JOIN org AS o ON u.org_code = o.id
    WHERE btu.task_id = #{taskId}
  </select>
</mapper>